{% extends 'base.html.twig' %}

{% block body %}

{% include 'docs/nav.html.twig' with {'page' : 'docs'} %}

  <div class="container">

    <h2 class="page-header">Documento: {{nome}}</h2>
    <h4 class="page-header">Dato: {{nome_dato}}</h2>

    <br/><br/>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

  </div>

{% endblock %}
